.example-card {
  /*max-width: 240px;*/
}

.image {
  max-width: 260px;
  max-height: 340px;
  /*text-align: center;*/
  width: auto;
  height: auto;
}

.example-header-image {
  background-size: cover;
}
